/* POLICES */

    /* menu 1 */
@font-face {
    font-family: 'black_jackregular';
    src: url('polices/blackjack-webfont.eot');
    src: url('polices/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/blackjack-webfont.woff2') format('woff2'),
         url('polices/blackjack-webfont.woff') format('woff'),
         url('polices/blackjack-webfont.ttf') format('truetype'),
         url('polices/blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


    /* menu 2 */
@font-face {
    font-family: 'redressedregular';
    src: url('polices/redressed-webfont.woff2') format('woff2'),
         url('polices/redressed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    /* menu 3 */

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('polices/dancingscript-regular-webfont.woff2') format('woff2'),
         url('polices/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    /* menu 4 */

@font-face {
    font-family: 'courgetteregular';
    src: url('polices/courgette-regular-webfont.woff2') format('woff2'),
         url('polices/courgette-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

    /* H3 menu 1, 3, 4 */

@font-face {
    font-family: 'handleeregular';
    src: url('polices/handlee-regular-webfont.woff2') format('woff2'),
         url('polices/handlee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* BODY */ 
body 
{ 
    margin: auto;
    font-family: arial, verdana, sans-serif;
}


/* HEADER */
header
{
    background-color: #579c87;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #fdcb46;
    font-size: 1.5em;
    text-align: center;
}

header a
{
    text-decoration: none;
    color: #fdcb46;
}

header h1
{
    letter-spacing: -4px;
}


/* FOOTER */
footer
{
    background-color: #579c87;
    color: #fdcb46;
    font-size: 1em;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

footer a
{
    text-decoration: none;
    color: #fdcb46;
}

footer p
{
    padding-right: 2%;
    padding-left: 2%;
}

/* BOUTON */
.btn
{
    background-color: #579c87;
    border-radius: 10px 10px 10px 10px;
    width: 20%;
    margin: auto;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    box-shadow: 0;
    margin-top: 2%;
    font-size: 1.5em;
}

.btn a
{
 text-decoration: none;
 color: #fdcb46;
}


/* MAIN */
main
{
    margin-top: 2%;
}
.conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu
{   
    display: block;
    width: 25%;
    box-shadow: 0px 1px 8px 1px #d8d8d8;
}

.menu:hover
{
    transform: scale(1.1);
}

.menu--orange
{
    background-color: #fcdfdb ;
    min-height: 500px;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.menu--pink
{
    background-color: #fff5fe ;
    min-height: 500px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.menu--gray
{
    background-color: #f9f9f9 ;
    min-height: 500px;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.menu--white
{
    background-color: #fdfffd ;
    min-height: 500px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

/* MENU--ORANGE, MENU--PINK, MENU--GRAY, MENU--WHITE INDEX (position et décoration liens) */
.menu--orange, .menu--pink, .menu--gray, .menu--white
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.menu--orange a, .menu--pink a, .menu--gray a, .menu--white a
{
    text-decoration: none;
   
}


/* MENU--ORANGE, NOTE DE MUSIQUE DÉGRADÉE + POLICE, INDEX */
.menu--orange i
{
    text-decoration: none;
      font-size: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f15861), to(#f78f6a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}


.menu--orange h2
{
display: flex;
flex-direction: column;
color: #3c1218;
    font-family: 'black_jackregular';
    font-size: 1.6em;
}

.menu--orange h3
{
    font-family: 'handleeregular';
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
    text-transform: uppercase;
     color: #3c1218;
}


/* MENU--PINK, POLICE, DÉGRADÉ, INDEX */

.menu--pink h2
{
    background: -webkit-gradient(linear, left top, left bottom, from(#d8852e), to(#905bfd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        font-family: 'redressedregular';
        font-size: 1.7em;
}

.menu--pink h3
{
    color: #c77412;
    font-family: 'Times New Roman';
    font-size: 2.3em;
}


/* MENU--GRAY, POLICE ET COULEUR, INDEX */


.menu--gray h2
{
   font-family: 'dancing_script_otregular';
    font-size: 1.8em;
      background: -webkit-gradient(linear, left top, left bottom, from(#0431df), to(#349efc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu--gray h3
{
  font-family: 'handleeregular';  
    font-style: italic;
    font-size: 2em;
    color: #0887fb;
}
/* MENU--WHITE, POLICE ET COULEUR, INDEX */

.menu--white h2 
{
    font-family: 'courgetteregular';
    font-size: 1.8em;
      background: -webkit-gradient(linear, left top, left bottom, from(#3d9339), to(#bfff7e));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu--white h3
{
    font-family: 'handleeregular';
    font-style: italic;
    font-size: 2em;
    color: #72bf56;
}








/* MENU-1 : LA PAGE DU MENU */

.note_enchantee_menu
{
    width: 80%;
    background-color: #fcdfdb ;
    color: #3c1218;
    margin: auto;
    font-family: 'handleeregular';
    font-style: italic;
    font-size: 1.1em;
    box-shadow: 0px 1px 8px 1px #d8d8d8;
}

/* images */
.note_enchantee_menu img
{
    transform: scale(0.8);
}
        /* titre */
.note_enchantee_menu h2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'black_jackregular';
    font-size: 2em;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 10%;
}

.note_enchantee_menu i
{
  background: -webkit-gradient(linear, left top, left bottom, from(#f15861), to(#f78f6a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}

        /* sous-titre */
.note_enchantee_menu h3
{
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 6%;
    padding-left: 6%;
}


        /* ul, li, p */

.note_enchantee_menu ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10%;
}

.note_enchantee_menu li
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding-right: 10%;
    padding-left: 10%;
    
}

.note_enchantee_menu li p:nth-child(2)
{
    font-weight: bold;
}

        /* titre bas de page */

.note_enchantee_menu h4
{
    font-family: 'black_jackregular';
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 5%;
    
}

.note_enchantee_menu h4 i
{
 font-size: 1.2em;   
}




/* MENU-2 : LA PAGE DU MENU */

.le_chic_a_la_francaise
{
    font-family: 'Times New Roman';
    width: 80%;
    margin: auto;
     padding-bottom: 5%;
    background-color: #fff5fe ;
    box-shadow: 0px 1px 8px 1px #d8d8d8;
}

    /* images */
.le_chic_a_la_francaise .img1
{
    transform: scale(0.8);
    position: relative;
    top: 10px;
}


.le_chic_a_la_francaise .img2
{
    transform: scale(0.8);
    position: relative;
    top:  15px;
}


/* couleurs paragraphes */

.couleur1
{
    color: #c57400;
}

.couleur2
{
    color: #a4679a;
}

.couleur3
{
    color: #6e4ccf;
}


    /* titre */
.le_chic_a_la_francaise h2
{
    font-family: 'redressedregular';
    font-size: 3em;
     background: -webkit-gradient(linear, left top, left bottom, from(#d8852e), to(#905bfd));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 10%;
}

    /* sous-titre */
.le_chic_a_la_francaise h3
{
    text-align: center;
}
    /* ul, li, p */

.le_chic_a_la_francaise ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10%;
}

.le_chic_a_la_francaise li
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}




/* MENU 3 : LA PAGE DU MENU */
.le_delice_des_papilles
{
    width: 80%;
    background-color: #edefef  ;
    color: #000000;
    margin: auto;
    padding-bottom: 5%;
    font-family: 'handleeregular';
    font-style: italic;
    font-size: 1.1em;
    box-shadow: 0px 1px 8px 1px #d8d8d8;
}

/* images */
.le_delice_des_papilles img
{
    transform: scale(0.8);
    position: relative;
    top: 10px;
}


/* ul, li */
.le_delice_des_papilles ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10%;
}

.le_delice_des_papilles li
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding-right: 10%;
    padding-left: 10%;
    
}

.le_delice_des_papilles li p:nth-child(2)
{
    font-weight: bold;
}

/* sous-titre */
.le_delice_des_papilles h3
{
   
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
}

/* titre */
.le_delice_des_papilles h2
{
    
    text-align: center;
    font-family: 'dancing_script_otregular';
    font-size: 3em;
      background: -webkit-gradient(linear, left top, left bottom, from(#0431df), to(#349efc));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10%;
    padding-bottom: 10%;
}



/* MENU 4 : LA PAGE DU MENU */
.la_palette_du_gout
{
    width: 80%;
    background-color: #fdfffd  ;
    color: #000000;
    margin: auto;
    padding-bottom: 5%;
    font-family: 'handleeregular';
    font-style: italic;
    font-size: 1.1em;
    box-shadow: 0px 1px 8px 1px #d8d8d8;
}

/* images */
.la_palette_du_gout img
{
    transform: scale(0.8);
}

/* ul, li */
.la_palette_du_gout ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10%;
}

.la_palette_du_gout li
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding-right: 10%;
    padding-left: 10%;
    
}


/* sous-titre */
.la_palette_du_gout h3
{
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* titre */
.la_palette_du_gout h2
{
    
    text-align: center;
    font-size: 3em;
   font-family: 'courgetteregular';
      background: -webkit-gradient(linear, left top, left bottom, from(#3d9339), to(#bfff7e));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10%;
    padding-bottom: 10%;
}








/* MENTIONS LEGALES : LA PAGE DES MENTIONS LEGALES */

.mentions_legales
{
     width: 80%;
    background-color: #fff  ;
    color: #000000;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 5%;
    font-family: arial, verdana, sans-serif;
    font-size: 1.1em;
    box-shadow: 0px 1px 8px 1px #d8d8d8;
}

/* titre */

.mentions_legales h2
{
    text-align: center;
    letter-spacing: -4px;
    padding-top: 10%;
    padding-bottom: 10%;
    color: #579c87;
    text-transform: lowercase;
    font-size: 2.5em;
}

/* sous-titre */

.mentions_legales h3
{
    text-transform: uppercase;
    font-size: 0.9em;
    margin-left: 10%;
    margin-right: 10%;
}

/*  p */

.mentions_legales p
{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding-bottom: 5%;
}





/* PROCHAINEMENT : LA PAGE PROCHAINEMENT */

/* titre */
.prochainement_h1
{
    color: #fdcb46;
    text-align: center;
}

/* menus */
.conteneur_prochainement
{
    display: flex;
    flex-direction: column;
}

.menu_prochainement
{
    width: 40%;
    margin: auto;
    background-color: #579c87;;
    color: #fdcb46;
    font-family: arial, verdana, sans-serif;
    font-size: 1em;
    text-align: center;
    box-shadow: 0px 1px 8px 1px #d8d8d8;
    margin-bottom: 5%;
    padding: 5%;
}

.menu_prochainement:hover
{
    transform: scale(1.1);
}





/* LE RESPONSIVE DU SITE */
